.history-item {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 100%;
  overflow: hidden;
}

.short-url,
.original-url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.short-url {
  flex-shrink: 0;
}

.original-url {
  flex: 1;
}